<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Exemple</title>
	<link href="../../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">
         <div class="row">
        <div class ="col-md-6">
       	 <h2>Lista de Propiedades</h2>
        </div>
        
        <div class ="col-md-6">
       	 <h2 class ="agregar"><a href="#" th:href="@{/propiedad/nuevo}">Agregar +</a> </h2>
        </div>
        </div>
    <div th:if="${not #lists.isEmpty(propiedades)}">
   
    
    
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Nombre del propietario</th>
                <th>#Propiedad</th>  
                <th>Tipo</th> 
                <th>Habitada</th>   
                <th>Area</th>  
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            <tr th:each="propiedad : ${propiedades}">
                <td th:text="${propiedad.id}"><a href="/propiedad/${propiedad.id}">Id</a></td>
                <td th:text="${propiedad.ownerEntity.nameOwner}">Nombre del Propietario</td>
                <td th:text="${propiedad.ownershipNumber}">#Propiedad</td>
                <td th:text="${propiedad.typeOwnership}">Tipo</td>
                <td th:if = "${propiedad.inhabited}==true"  th:text="Si">Habitada</td>
                <td th:if = "${propiedad.inhabited}==false"  th:text="No">Habitada</td>
                <td th:text="${propiedad.area}">Area</td>
                <td><a th:href="${ '/propiedad/' + propiedad.id}">Ver</a></td>
                <td><a th:href="${'/propiedad/editar/' + propiedad.id}">Editar</a></td>
                <td><a th:href="${'/propiedad/eliminar/' + propiedad.id}">Eliminar</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>