<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Reconocimiento de placa</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">


    	<hr/>
    <div class="flex-center flex-column" >
    
    <h2>Crear Propietario</h2>
    <br/>
        <form class="form-horizontal" th:object="${propietario}" th:action="@{/propietario}" method="post">
            <input type="hidden" th:field="*{id}"/>
            
          <div class = "row">
	          <div class="col-sm-6">
	           		<div class="md-form">
		            	<label class="control-label">Nombre:</label>
		                <input type="text" class="form-control" th:field="*{nameOwner}" pattern="[A-Za-z]{3,}"
		                 maxlength="30" title ="Solo letra" required="required"/>
		            </div>
		      </div>
		      
		      <div class="col-sm-6" >
		      	 <div class="md-form">
		            <label class="control-label">Apellido:</label> 
		            <input type="text" class="form-control" th:field="*{lastNameOwner}" pattern="[A-Za-z]{3,}"
		             maxlength="30" title ="Solo letra" required="required"/>
		         </div>
		       </div>
         </div>  
         
        <div class= "row">
       
    
       	 <div class="col-sm-5 cedula">
      		<div class="md-form">
                 <label class=" control-label">Número de identificacion:</label>
                 <input type="text" pattern="[0-9]{7,}" maxlength="10" class="form-control" th:field="*{identificationNumberOwner}" required="required" title="Ej: 1234567" />
            </div>
          </div>
          
          <div class="col-sm-1">
          
	          <div class="md-form">
		            <label class="control-label">  </label>
		            <select class="selectpicker show-menu-arrow tipoC" th:field="*{typeIdentificationNumberOwner}">
					  <option value = "V">V</option>
					  <option value = "E">E</option>
					  <option value = "J">J</option>
					</select>
	          </div>
	      </div>


			<div class="col-sm-6">
			  <div class="md-form" >
                <label class="control-label">Nombre de Comunidad:</label>
                   <select class="selectpicker show-menu-arrow" th:field="*{comunityEntity.id}" required="required" >
                  	  <option value="">Seleccione Comunidad</option>
					  <option th:each="comunidad : ${comunidades}"  th:value ="${comunidad.id}" th:utext="${comunidad.nameComunity}">
					  </option>
					</select>
                </div>
            </div>
	           	
  		  <br/>
            

           </div>
			<br/>
            
            	<br/>
            <div class="flex-center flex-column">
                <button type="submit" class="btn btn-default">Guardar</button>
            </div>
        </form>
    </div>
</div>
<br/>



</body>
</html>


