<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Reconocimiento de placa</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
   <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">
 
	<hr/>
    <div class="flex-center flex-column" >
	    <h2>Modificar Vehiculo</h2>
        <form class="form-horizontal" th:object="${vehiculo}" th:action="@{/vehiculo}" method="post">
            <input type="hidden" th:field="*{id}"/>
            
            <div class = "row">
            
	             <div class="col-sm-6">
	                <div class="md-form" >
	                	<label class="control-label">Nombre de Propietario:</label>
	                   <select class="selectpicker show-menu-arrow" th:field="*{ownerEntity.id}" required="required" >
	                  	  <option value="">Seleccione Propietario</option>
						  <option th:each="propietario : ${propietarios}"  th:value ="${propietario.id}" 
						  th:utext="${propietario.nameOwner} +' ' + ${propietario.lastNameOwner} ">
						  </option>
						</select>
	                </div>
	            </div>
	            <div class="col-sm-6">
	                <div class="md-form">
	                	<label class="control-label">Marca:</label>
	                    <input type="text" class="form-control" th:field="*{makeVehicle}"  pattern="[A-Za-z]{3,}"
	                     minlength = "4" maxlength ="15" title= "Solo letra" required="required"/>
	                </div>
	            </div>
	            
            </div>
            <div class = "row">
            
             <div class="col-sm-6">
                <div class="md-form">
                	<label class=" control-label">Modelo:</label>
                    <input type="text" class="form-control" th:field="*{modelVehicle}" required="required"/>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="md-form">
               		<label class=" control-label">Color:</label>
                    <input type="text" class="form-control" th:field="*{colourVehicle}" required="required"/>
                </div>
            </div>
            
            
            </div>
             <div class = "row">
             
                        
           
            <div class="col-sm-6">
                <div class="md-form">
                	<label class="control-label">Año:</label>
                    <input type="text" class="form-control" th:field="*{LongVehicle}" pattern="[0-9]{4}"  title = "Fecha invalida" required="required"/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="md-form">
	                <label class="control-label">Numero de placa:</label>
                    <input type="text" class="form-control" th:field="*{lecenseplateVehicle}" minlength = "6" maxlength ="7" title = "Numero de placa con formato  invalido" required="required"/>
                </div>
            </div>
            
            </div>
            
            <br/>

            <div class="flex-center flex-column">
                <button type="submit" class="btn btn-default">Guardar</button>
            </div>
        </form>
         <br/>
          <br/>
    </div>
</div>

</body>
</html>
